html{
	box-sizing:border-box;
}

*,*:before, *:after{
	box-sizing: inherit;
}

body{
	margin: 0;
	background-color: grey;
}

.wrapper{
	display: flex;
	flex-direction:column;
}

.flex-nav ul{
	list-style: none;
	margin:0;
	padding:0;
	display: flex;
	background: black;
}

.name{
	flex:1;
	font-size: 16px;
	padding-top: 5px;
}

a{
	font-family: 'Archivo black', sans-serif;
	color: white;
	font-size: 18px;
	text-decoration: none;
	padding: 20px 30px 20px 30px;
	display:inline-block;
	width: 100%;
	transition:all 0.5;
}

a:hover{
	color:white;
}

.workpic{
	margin: 15px 15px 15px 30px;
	width: 60%;
	height: auto;
}

@media all and (max-width:1000px) {

	a{
	font-size: 16px;
	}

}

@media all and (max-width:500px) {

	a{
	font-size: 16px;
	}

}
